.App{
    display: flex;
}
.image{
    /* background-image: url(./pic2.jpg); */
     width: 60%;
}

.input_Div{
    display: flex;
    flex-direction: column;
}

.inp_Style{
    border: 1px solid white;
    background-color: rgba(241, 241, 241, 0.911);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 200px;
    border-radius: 15px;
    margin-bottom: 15px;
}

input[type="email"]{
    text-align: left;
}

.pwd_Style{
    border: 1px solid white;
    background-color: rgba(241, 241, 241, 0.911);
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.button:hover{
    background-color: rgb(31, 31, 71);
}
.button{
    border-radius: 20px;
    border: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 200px;
    padding-right: 200px;
    background-color: rgb(43, 43, 87);
    margin-top: 20px;
    text-align: center;
    color: whitesmoke;
    text-transform:uppercase;
    cursor: pointer;
}